.container .form-group input{
	margin-bottom: 10px;
	height: 40px;
	outline: none;
}
.container .form-group label{
	font-size: 18px;
}
.form-group .requireDot{
	color: red;
}
.form-group .select{
	height: 40px;
}
.container #success #addMore{
	color: #fc5e03;
}
.form-group .submit{
	background-color: #fc5e03;
	width: 20vw;
	font-size: 20px;
	color: white;
	border: 1px solid #fc5e03;
	cursor: pointer;
	border-radius: 8px;
}
.form-group .submit:hover{
	border: 1px solid var(--light);
}
.btnMargin50{
	width: 50%;
}
.btnsDisplay{
	display: flex;
}
#btnSexo{
	margin-right: 50px;
}