body{
	background-color: var(--light);
}
span{
	color: #fc5e03;
}
.container{
	background-color: white;
	height: auto;
	width: 60%;
	margin: 20vh auto 35vh auto;
}
.container .form-group input{
	margin-bottom: 10px;
	height: 40px;
	outline: none;
}
.container .form-group label{
	font-size: 18px;
}
.header{
	margin: 10vh auto auto 15vw;
	width: 70%;
	align-items: center;
}
.header a{
	font-size: 18px;
	text-decoration: none;
	color: black;
}
.header span i{
	margin-right: 10px;
}

.form-group .requireDot{
	color: red;
}
.form-group #select{
	height: 40px;
}
#addMore{
	color: #fc5e03;
}