#buttons .button-group button{
	width: 100px;
	height: 50px;
	border-radius: 8px;
	font-size: 20px;
	outline: none;
	color: white;
	cursor: pointer;
}
#buttons .button-group button:hover{
	border: 1px solid var(--light);
}
#turma{
	border: 1px solid var(--warning);
	background-color: var(--warning);
}
#aluno{
	border: 1px solid var(--success);
	background-color: var(--success);
}
fieldset{
	margin-top: 50px;
	margin-bottom: 50px;
}
.dadosGeral p{
	font-size: 20px;
}
.dadosGeral span{
	color: black;
	font-weight: 500;
}
.row form .buttonTurmaAluno{
	cursor: pointer;
	border: none;
	border-radius: 8px;
	padding: 12px;
	background-color: var(--warning);
	color: white;
	outline: none;
}
.row form .buttonTurmaAluno:hover{
	border: 1px solid black;
}
.row form #btnCollor{
	background-color: var(--success);
}
#exibeTurma #voltarpag{
	border: none;
	background-color: white;
	font-size: 18px;
	cursor: pointer;
	outline: none;
}
#exibeTurma #voltarpag:hover{
	text-decoration: underline;
}
.container .form-group textarea{
	margin-bottom: 10px;
	height: 20vh;
}
.btnsDisplay{
	display: flex;
}
.row .nullResult{
	margin-left: 22vw;
}
.row #divAlunos{
	margin: auto 5vw auto 5vw;
	border-bottom: 1px solid #bdb9b9;
	border-top: 1px solid #bdb9b9;
	padding: 20px 20px 10px 20px;
}
#buttonMatricula{
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	background-color: var(--success);
	color: white;
	border: none;
}
.form-final{
	margin: 10vw 50px 50px 50px;
}
.divButtons{
	margin: 50px 0px 20px 0px;
}
.container .form-group input{
	margin-bottom: 10px;
	height: 40px;
	outline: none;
}
.container .form-group label{
	font-size: 18px;
}
.form-group .requireDot{
	color: red;
}
.form-group .select{
	height: 40px;
}
.dadosAluno p{
	font-size: 20px;
}
.dadosAluno span{
	color: black;
}
#alterar{
	color: gray;
	margin-top: 80px;
}