body{
	scroll-behavior: smooth;
}
.container{
	margin-top: 100px;
	height: auto;
}
#buttons .button-group button{
	width: 100px;
	height: 50px;
	border-radius: 8px;
	font-size: 20px;
	outline: none;
	color: white;
	cursor: pointer;
}
#buttons .button-group button:hover{
	border: 1px solid var(--light);
}
#turma{
	border: 1px solid var(--warning);
	background-color: var(--warning);
}
#aluno{
	border: 1px solid var(--success);
	background-color: var(--success);
}
fieldset{
	margin-top: 50px;
	margin-bottom: 50px;
}
.row form .buttonTurma{
	cursor: pointer;
	border: none;
	border-radius: 8px;
	padding: 12px;
	background-color: var(--warning);
	color: white;
	outline: none;
}
.row form .buttonTurma:hover{
	border: 1px solid black;
}
#exibeTurma #voltarpag{
	border: none;
	background-color: white;
	font-size: 18px;
	cursor: pointer;
	outline: none;
}
#exibeTurma #voltarpag:hover{
	text-decoration: underline;
}
.dadosTurma p{
	font-size: 20px;
}
.dadosTurma span{
	color: black;
	font-weight: 500;
}
textarea{
   resize: none;
   width: 45vw;
   height: auto;
   outline: none;
   border-top: 1px solid #bdb9b9;
   border-bottom: 1px solid #bdb9b9;
   border-right: none;
   border-left: none; 
   padding: 20px;
}
